@model Agency.Models.VacancyListViewModel
@using Agency.Extensions;
@using Agency.Models;

@{
    ViewBag.Title = "ShowVacancies";
}

<h2>ShowVacancies</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table" border="1" align="center">
    <tr>
        @if (Model.Vacancies.Count() != 0)
        {
            <td>
                @Html.SortLink("Имя", "Name", "ShowCandidate", "Admin", new RouteValueDictionary { })
            </td>
            <td>
                @Html.SortLink("Дата роджения", "Name", "ShowCandidate", "Admin", new RouteValueDictionary { })
            </td>
            <td>
                @Html.SortLink("Опыт", "Name", "ShowCandidate", "Admin", new RouteValueDictionary { })
            </td>
            //а черт его знает, нужна ли сортировка по опыту, но пусть пока будет
            <td>
                @Html.SortLink("Имя", "Name", "ShowCandidate", "Admin", new RouteValueDictionary { })
            </td>
            <td>
                @Html.SortLink("Почта", "Name", "ShowCandidate", "Admin", new RouteValueDictionary { })
            </td>
            <td>
                @Html.SortLink("Телефон", "Name", "ShowCandidate", "Admin", new RouteValueDictionary { })
            </td>
            <td></td>
        }
        else
        {
            @Html.Label("Похоже, что в системе пока нет сохраненных анкет");
        }
    </tr>

    @foreach (var item in Model.Vacancies)
    {
        <tr>
            <td>@item.VacancyName</td>
            <td>@item.VacancyDescription</td>
            <td>@item.Company.CompanyName</td>
            <td>
                @foreach (var exp in item.Requirements)
                {
                    @exp.Skill
                    <br/>
                }
            </td>
            <td>@item.Starts</td>
            <td>@item.Ends</td>
            <td>
                @item.Status
                <br />
                @Html.ActionLink("изменить статус", "ChangeStatus")
            </td>
            <td></td>
            @if (Model.Vacancies.FirstOrDefault().Creator.Role == Role.Employer)
            {
            <td>
                @Html.ActionLink("Редактировать вакансию", "EditProfile", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
            }
        </tr>
    }

</table>


