@model Agency.Models.VacancyListViewModel
@using Agency.Extensions;
@using Agency.Models;

@{
    ViewBag.Title = "ShowVacancies";
}

<h2>ShowVacancies</h2>

<p>
    @if (Model.Role == Role.Employer)
    {
        @Html.ActionLink("Create New", "Createvacancy", "Employer")
    }
    </p>
<table class="table" border="1" align="center">
    <tr>
        @if (Model.Vacancies.Count() != 0)
        {
            <td>
                @Html.SortLink("Название вакансии", "VacancyName", "ShowVacancies", "Common", new RouteValueDictionary { { "Id", Model.Vacancies[0].Id } })
            </td>
            <td>
                @Html.SortLink("Описание", "VacancyDescription", "ShowVacancies", "Common", new RouteValueDictionary { })
            </td>
            <td>
                @Html.SortLink("Компания", "Company", "ShowVacancies", "Common", new RouteValueDictionary { })
            </td>
            //а черт его знает, нужна ли сортировка по опыту, но пусть пока будет
            <td>
                @Html.SortLink("Требуемый опыт", "Requirements", "ShowVacancies", "Common", new RouteValueDictionary { })
            </td>
            <td>
                @Html.SortLink("Начало", "Starts", "ShowVacancies", "Common", new RouteValueDictionary { })
            </td>
            <td>
                @Html.SortLink("Окончание", "Ends", "ShowVacancies", "Common", new RouteValueDictionary { })
            </td>
            <td>
                @Html.SortLink("Статус", "Status", "ShowVacancies", "Common", new RouteValueDictionary { })
            </td>
        }
        else
        {
            @Html.Label("Похоже, что в системе пока нет сохраненных анкет");
        }
    </tr>

    @foreach (var item in Model.Vacancies)
    {
        <tr>
            <td>@item.VacancyName</td>
            <td>@item.VacancyDescription</td>
            <td>@item.Company.CompanyName</td>
            <td>
                @foreach (var exp in item.Requirements)
                {
                    @exp.Skill
                    <br/>
                }
            </td>
            <td>@item.Starts</td>
            <td>@item.Ends</td>
            <td>
                @item.Status
                <br />
                @Html.ActionLink("Изменить статус", "ChangeStatus")
            </td>
            <td></td>
            @if (Model.Role == Role.Employer)
            {
            <td>
                @Html.ActionLink("Редактировать вакансию", "EditProfile", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
            }
        </tr>
    }

</table>


